/* .component-galleryRoll{
    margin: 40px auto;
} */
.component-galleryRoll-row{
    margin: 80px auto;
}
.component-galleryRoll-row.toRight > .component-galleryRoll-row-img{
  padding-left: 0;
}
.component-galleryRoll-row.toLeft > .component-galleryRoll-row-img{
  padding-right: 0;
}
.component-galleryRoll-row-img > img{
  width: 100%;
}
.component-galleryRoll-row > .component-galleryRoll-row-text{
  padding: 0;
}
.component-galleryRoll-row.toRight > .component-galleryRoll-row-text{
  float: right;
}
.component-galleryRoll-row.toRight > .component-galleryRoll-row-text > div{
  float: right;
}
.component-galleryRoll-row.toRight .carousel-fullWitdh {
  /* right: calc(70vw + 15px); */
}

.component-galleryRoll-row-text > div{
    padding: 0;
    width: 445px;
}
.component-galleryRoll-row-text > div > h2{
    font-family: OpenSans-Bold;
    font-size: 28px;
    margin: 0 0 20px;
}
.component-galleryRoll-row-text > div > p{
    font-size: 16px;
}
.toLeft{ background: pink;}
.toRight{ background: lightskyblue;}

/*  ------------------------  ////  MEDIA QUERY  \\\\  ------------------------   */

/* ----- Mobiles (Viewport below 768px) ----- */
@media only screen and (max-width: 768px) {
.carousel-controls{display:block!important;}
} 

/* ----- Tablet Portrait & Mobile (Viewport below 989px) ----- */
@media only screen and (max-width : 992px) {
  .component-galleryRoll-row {
    flex-direction: column-reverse;
    display: flex;
  }
  .component-galleryRoll-row-text > div {
    width: 100%;
  }
  .component-galleryRoll-row-text > div > h2{
    margin: 30px 0 10px;
}
.component-galleryRoll-row-text > div > p{
    font-size: 15px;
}
  .component-galleryRoll-row > .component-galleryRoll-row-img {
    text-align: center;
  }
  .component-galleryRoll-row-img > img, .pippo > img {
    max-width: 480px;
  }
  .carousel-indicators {
    position: relative;
    z-index: 15;
    width: 32%;
    /* padding-left: 0; */
    /* margin-left: -30%; */
    text-align: center;
    list-style: none;
}
.carousel-fullWitdh {
  transform: translate(-17%);
}
.item{
  display: flex;
  flex-direction: row;
}
.pippo{
  order: 2;
}
.pippo.cloneditem-1{
  order: 3;
}
.pippo.cloneditem-2{
  display:block!important;
  order: 1;
}
} 

/* ----- Tablet Portrait (Viewport between 769px and 989px) ----- */
@media only screen and (min-width: 769px) and (max-width : 992px) {

} 

/* ----- Tablet landscape (Viewport between 990px and 1199px) ----- */
@media only screen and (min-width: 993px) and (max-width : 1199px) {

} 

/* Desktop (Viewport above 1200px) */
/* @media only screen and (min-width: 1200px) {
}  */



.pippo{
    float: left;
    margin-right: 20px;
}
.toRight .pippo{
    float: right;
}
.pippo > img{
  width: 540px;
}
.carousel-fullWitdh {
    /* width: 150vw; */
    width: 300%;
    position: relative;
    /* transform: translate(50%); */
}
.toRight .carousel-fullWitdh {
    transform: translate( calc( -65% - 7px));
}

.carousel-close{
  position: absolute;
  bottom: 20px;
  width: 37px;
  height: 37px;
  text-align: center;
  padding-top: 9px;
  background: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  z-index: 1000;
}
.component-galleryRoll-row.toRight .carousel-close{
  border-radius: 5px 0 0 5px;
  right: 15px;
}
.component-galleryRoll-row-arrow { 
  width: 36px;
  height: 36px; 
  background: #AD0C33;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  padding-top: 7px;
  z-index: 200000;
}
.component-galleryRoll-row.toLeft .component-galleryRoll-row-arrow { 
  border-radius: 5px 0 0px 5px;
  left: -21px;
}
.component-galleryRoll-row.toLeft .component-galleryRoll-row-arrow > img { 
  transform: rotateY(180deg);
}
.component-galleryRoll-row.toRight .component-galleryRoll-row-arrow { 
  border-radius: 0 5px 5px 0;
  right: -21px;
}

.transition{
  transition: 2s;
}
.transitionClassToRight{ 
  transform: translate( 600px ); 
  /* transform: translate( calc( 585px + 15px) );  */
}
.transitionClassToLeft{ 
  transform: translate( -600px ); 
  /* transform: translate( calc( -585px - 15px) );  */
}

.carousel-controls{
  position: absolute;
}
.toRight .carousel-controls {
  right: 55px;
}
.carousel-controls > .carousel-control {
  background-image: none;
  position: relative;
  width: auto;
  font-size: inherit;
  top: 20px;
  left: 20px;
}
.component-galleryRoll-row.toRight .carousel-controls > .carousel-control {
  left: 0;
}
.carousel-control.left {

}
.carousel-control.right {
  margin-left: 22px;
}
.carousel-control.right > img{
  transform: rotateY(180deg);
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
              transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -25%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 25%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(25%, 0, 0);
              transform: translate3d(25%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-25%, 0, 0);
              transform: translate3d(-25%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }