
/* da cancellare */
.toLeft{ background: pink;}
.toRight{ background: lightskyblue;}
.carousel-inner {
  background: #8fe76c;
}
/* fine da cancellare */


.component-galleryRoll .component-galleryRoll-row{
  margin: 80px auto;
}
.component-galleryRoll .component-galleryRoll-row.toRight > .component-galleryRoll-row-img{
  padding-left: 0;
}
.component-galleryRoll .component-galleryRoll-row.toLeft > .component-galleryRoll-row-img{
  padding-right: 0;
}
.component-galleryRoll .component-galleryRoll-row.toRight > .component-galleryRoll-row-text{
  float: right;
}
.component-galleryRoll .component-galleryRoll-row.toRight > .component-galleryRoll-row-text > div{
  float: right;
}

.component-galleryRoll .component-galleryRoll-row-text > div{
    padding: 0;
    width: 445px;
}
.component-galleryRoll .component-galleryRoll-row-text > div > h2{
    font-family: OpenSans-Bold;
    font-size: 28px;
    margin: 0 0 20px;
}
.component-galleryRoll .component-galleryRoll-row-text > div > p{
    font-size: 16px;
}

.component-galleryRoll .carousel-fullWitdh {
  position: relative;
}
.component-galleryRoll .item-list{
  float: left;
  margin-right: 20px;
}

/* -------------------controllo apertura-chiusura rullino ------------------- */
.component-galleryRoll .carousel-close{
position: absolute;
bottom: 20px;
width: 37px;
height: 37px;
text-align: center;
padding-top: 9px;
background: #ffffff;
border-radius: 0 5px 5px 0;
cursor: pointer;
z-index: 1000;
}
.component-galleryRoll .component-galleryRoll-row.toRight .carousel-close{
border-radius: 5px 0 0 5px;
right: 15px;
}
.component-galleryRoll .component-galleryRoll-row-arrow { 
width: 36px;
height: 36px; 
background: #AD0C33;
display: block;
text-align: center;
position: absolute;
bottom: 20px;
cursor: pointer;
padding-top: 7px;
z-index: 200000;
}
.component-galleryRoll .component-galleryRoll-row.toLeft .component-galleryRoll-row-arrow { 
border-radius: 5px 0 0px 5px;
left: -21px;
}
.component-galleryRoll .component-galleryRoll-row.toLeft .component-galleryRoll-row-arrow > img { 
transform: rotateY(180deg);
}
.component-galleryRoll .component-galleryRoll-row.toRight .component-galleryRoll-row-arrow { 
border-radius: 0 5px 5px 0;
right: -21px;
}
.component-galleryRoll .transition{
transition: 2s;
}
/* ------------------- controlli mivimento slides carosello ------------------- */
.component-galleryRoll .carousel-controls{
position: absolute;
}
.component-galleryRoll .carousel-controls > .carousel-control {
background-image: none;
position: relative;
width: auto;
font-size: inherit;
top: 20px;
left: 20px;
}
.component-galleryRoll .component-galleryRoll-row.toRight .carousel-controls > .carousel-control {
left: 0;
}
.component-galleryRoll .carousel-control.right {
margin-left: 22px;
}
.component-galleryRoll .carousel-control.right > img{
transform: rotateY(180deg);
}

.component-galleryRoll .carousel-indicators li {
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
}
.component-galleryRoll .carousel-indicators .active {
  background: #AD0C33;
  border: 1px solid #AD0C33;
}


/*  ------------------------  ////  MEDIA QUERY  \\\\  ------------------------   */

/* ----- Mobiles (Viewport below 768px) ----- */
@media only screen and (max-width: 768px) {
      .component-galleryRoll .item-list{
        width: 100%;
      }
      .component-galleryRoll .component-galleryRoll-row > .component-galleryRoll-row-img {
        padding: 0;
      }
      .component-galleryRoll .component-galleryRoll-row-img > img, .component-galleryRoll .item-list > img {
        width: 100%;
        height: 248px;
      }
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-1, 
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-2, 
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-3, 
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-4,
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-5, 
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-6,
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-7, 
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-8,
     .component-galleryRoll .carousel-showmanymoveone .cloneditem-9 {
        display: none;
      }
      .component-galleryRoll .carousel-indicators {
        position: relative;
        left: 0;
        bottom: -20px;
        width: 100%;
        margin-left: 0%;
      }
} 

/* ----- Tablet Portrait & Mobile (Viewport below 989px) ----- */
@media only screen and (max-width : 992px) {
  .component-galleryRoll .component-galleryRoll-row-text > div {
        width: 100%;
      }
      .component-galleryRoll .component-galleryRoll-row-text > div > h2{
        margin: 30px 0 10px;
      }
      .component-galleryRoll .component-galleryRoll-row-text > div > p{
          font-size: 15px;
      }
      .component-galleryRoll .component-galleryRoll-row > .component-galleryRoll-row-img {
        text-align: center;
      }
} 
/* ----- FROM Tablet Portrait to UP (Viewport more 989px) ----- */
@media only screen and (min-width : 992px) {
  .component-galleryRoll .component-galleryRoll-row > .component-galleryRoll-row-text{
        padding: 0;
      }
} 

/* ----- Tablet Portrait (Viewport between 769px and 989px) ----- */
@media only screen and (min-width: 769px) and (max-width : 992px) {
      .component-galleryRoll .item-list{
        width: 480px;
      }
      .component-galleryRoll .component-galleryRoll-row-img > img, .component-galleryRoll .item-list > img{
        width: 480px;
        height: 317px;
      }
      .component-galleryRoll .carousel-fullWitdh {
        width: 350%;
        transform: translate(-17%);
      }
      .component-galleryRoll .item.active {
        display: flex;
        flex-direction: row;
      }
      .component-galleryRoll .item-list{
        order: 2;
      }
      .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        order: 3;
      }

      /* .component-galleryRoll .carousel-showmanymoveone .cloneditem-2, 
      .component-galleryRoll .carousel-showmanymoveone .cloneditem-3,
      .component-galleryRoll .carousel-showmanymoveone .cloneditem-5, 
      .component-galleryRoll .carousel-showmanymoveone .cloneditem-6,
      .component-galleryRoll .carousel-showmanymoveone .cloneditem-7, 
      .component-galleryRoll .carousel-showmanymoveone .cloneditem-8,
      .component-galleryRoll .carousel-showmanymoveone .cloneditem-9 {
         display: none;
       } */
      /* .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-2 {
        display:none!important;
      } */
      .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-4 {
        order: 1;
        display: block!important;
      }
      .component-galleryRoll .item{
        display: flex;
        flex-direction: row;
      }
      .component-galleryRoll .item-list{
        order: 2;
      }
      .component-galleryRoll .item-list.cloneditem-1{
        order: 3;
      }
      .component-galleryRoll .item-list.cloneditem-2{
        display:block;
        order: 1;
      }
      .component-galleryRoll .component-galleryRoll-row {
        flex-direction: column-reverse;
        display: flex;
      }
      .component-galleryRoll .carousel-indicators {
        position: relative;
        left: 0;
        bottom: -20px;
        width: 100%;
        margin-left: -20%;
      }
} 

/* ----- Tablet landscape (Viewport between 990px and 1199px) ----- */
@media only screen and (min-width: 993px) and (max-width : 1199px) {
      .component-galleryRoll .component-galleryRoll-row-img > img, .component-galleryRoll .item-list > img{
        width: 480px;
        height: 317px;
      }
      .component-galleryRoll .item-list{
        width: 480px;
      }
      .component-galleryRoll .item-list > img{
        width: 480px;
        height: 317px;
      }
      .component-galleryRoll .carousel-fullWitdh {
        width: 350%;
      }
      .component-galleryRoll .transitionClassToRight{ 
        transform: translate( 500px ); 
      }
      .component-galleryRoll .transitionClassToLeft{ 
        transform: translate( -500px ); 
      }
      .component-galleryRoll .toRight .carousel-fullWitdh {
        transform: translate(-1010px);
      }
      .component-galleryRoll .toRight .carousel-controls {
        right: 185px;
      }
} 

/* Desktop (Viewport above 1200px) */
@media only screen and (min-width: 1200px) {
      .component-galleryRoll .item-list{
        width: 540px;
      }
      .component-galleryRoll .component-galleryRoll-row-img > img, .component-galleryRoll .item-list > img{
        width: 540px;
        height: 357px;
      }
      .component-galleryRoll .carousel-fullWitdh {
        width: 300%;
      }
      .component-galleryRoll .transitionClassToRight{ 
        transform: translate( 600px ); 
      }
      .component-galleryRoll .transitionClassToLeft{ 
        transform: translate( -600px ); 
      }
      .component-galleryRoll .toRight .carousel-fullWitdh {
        transform: translate(-1090px);
      }
      .component-galleryRoll .toRight .carousel-controls {
        right: 55px;
      }
} 



  @media all and (min-width: 768px) {
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .prev {
      left: 500px;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .next {
      left: 500px;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .prev.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(500px, 0, 0);
              transform: translate3d(500px, 0, 0);
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-500px, 0, 0);
              transform: translate3d(-500px, 0, 0);
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
   .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active.left,
   .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .prev {
      left: -500px;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .next {
      left: 500px;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .prev.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(500px, 0, 0);
              transform: translate3d(500px, 0, 0);
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-500px, 0, 0);
              transform: translate3d(-500px, 0, 0);
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 1200px) {
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .prev {
      left: -560px;
      /* left: -25%; */
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .next {
      left: 560px;
      /* left: 25%; */
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .prev.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
    }
  }
  @media all and (min-width: 1200px) and (transform-3d), all and (min-width: 1200px) and (-webkit-transform-3d) {
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(560px, 0, 0);
              transform: translate3d(560px, 0, 0);
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-560px, 0, 0);
              transform: translate3d(-560px, 0, 0);
      left: 0;
    }
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.left,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .component-galleryRoll .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }