.component-galleryRoll{
    margin: 40px auto;
}
.component-galleryRoll-row{
    margin: 40px auto;
}
.component-galleryRoll-row.toRight > .component-galleryRoll-row-img{
  padding-left: 0;
}
.component-galleryRoll-row.toLeft > .component-galleryRoll-row-img{
  padding-right: 0;
}
.component-galleryRoll-row-img > img{
  width: 100%;
}
.component-galleryRoll-row > .component-galleryRoll-row-text{
  padding: 0;
}
.component-galleryRoll-row.toRight > .component-galleryRoll-row-text{
  float: right;
}
.component-galleryRoll-row.toRight > .component-galleryRoll-row-text > div{
  float: right;
}
.component-galleryRoll-row.toRight .carousel-fullWitdh {
  right: calc(70vw + 15px);
}

.component-galleryRoll-row-text > div{
    padding: 0;
    width: 445px;
}
.component-galleryRoll-row-text > div > h2{
    font-family: OpenSans-Bold;
    font-size: 28px;
    margin: 0 0 20px;
}
.component-galleryRoll-row-text > div > p{
    font-size: 16px;
}
.toLeft{ background: pink;}
.toRight{ background: lightskyblue;}

/*  ------------------------  ////  MEDIA QUERY  \\\\  ------------------------   */

/* ----- Mobiles (Viewport below 768px) ----- */
@media only screen and (max-width: 768px) {

} 

/* ----- Tablet Portrait & Mobile (Viewport below 989px) ----- */
@media only screen and (max-width : 989px) {

} 

/* ----- Tablet Portrait (Viewport between 769px and 989px) ----- */
@media only screen and (min-width: 769px) and (max-width : 989px) {

} 

/* ----- Tablet landscape (Viewport between 990px and 1199px) ----- */
@media only screen and (min-width: 990px) and (max-width : 1199px) {

} 

/* Desktop (Viewport above 1200px) */
/* @media only screen and (min-width: 1200px) {
}  */



.pippo{
    float: left;
    margin-right: 20px;
}
.carousel-fullWitdh {
    width: 150vw;
    position: relative;
}

.carousel-close{
  position: absolute;
  bottom: 56px;
  width: 37px;
  height: 37px;
  text-align: center;
  padding-top: 9px;
  background: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  z-index: 1000;
}
.component-galleryRoll-row-arrow { 
  width: 36px;
  height: 36px; 
  background: #AD0C33;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  padding-top: 7px;
  z-index: 200000;
}
.component-galleryRoll-row.toLeft .component-galleryRoll-row-arrow { 
  border-radius: 5px 0 0px 5px;
  left: calc(15px - 36px);
}
.component-galleryRoll-row.toRight .component-galleryRoll-row-arrow { 
  border-radius: 0 5px 5px 0;
  right: calc(15px - 36px);
}

.transition{
  transition: 2s;
}
.transitionClassToRight{ 
  transform: translate( calc( 585px + 15px) ); 
}
.transitionClassToLeft{ 
  transform: translate( calc( -585px - 15px) ); 
}


.carousel-showmanymoveone .carousel-control {
    position: relative;
    top: 20px;
    left: 20px;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 15px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 15px;
  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
              transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -25%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 25%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(25%, 0, 0);
              transform: translate3d(25%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-25%, 0, 0);
              transform: translate3d(-25%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }