.component-galleryRoll{
    margin: 40px auto;
}
.component-galleryRoll-row{
    margin: 40px auto;
}
.component-galleryRoll-row-img{

}
.component-galleryRoll-row-text{
    padding: 0;
}
.component-galleryRoll-row-text h2{
    font-family: OpenSans-Bold;
    font-size: 28px;
    margin: 0 0 20px;
}
.component-galleryRoll-row-text p{
    font-size: 16px;
    width: 445px;
}
.toLeft{ background: pink;}
.toRight{ background: lightskyblue;}

/*  ------------------------  ////  MEDIA QUERY  \\\\  ------------------------   */

/* ----- Mobiles (Viewport below 768px) ----- */
@media only screen and (max-width: 768px) {

} 

/* ----- Tablet Portrait & Mobile (Viewport below 989px) ----- */
@media only screen and (max-width : 989px) {

} 

/* ----- Tablet Portrait (Viewport between 769px and 989px) ----- */
@media only screen and (min-width: 769px) and (max-width : 989px) {

} 

/* ----- Tablet landscape (Viewport between 990px and 1199px) ----- */
@media only screen and (min-width: 990px) and (max-width : 1199px) {

} 

/* Desktop (Viewport above 1200px) */
/* @media only screen and (min-width: 1200px) {
}  */
