body{
    color: #333333;
    font-family: OpenSans;
    overflow-x: hidden;
}

.target{
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*  ROW WIDTH 100vw */
.row-fullWitdh{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}


/* BOTTONE CALL-TO-ACTION */
.cta-button, .cta-button:focus{
    width: 250px;
    height: 50px;
    margin: 20px auto 0;
    color:#ffffff;
    font-family: OpenSans-Bold;
    font-size: 14px;
    background: #AD0C33;
    border-radius: 5px;
    box-shadow: 0px 1.7px 3.3px #333333;
    text-align: left;
}
.cta-button span{
    margin-top: 7px;
    font-size: 14px;
    display: block;
}
.cta-button img{
    margin-top: 9px;
}
.cta-button:hover{
    background: #840A27;
    color:#ffffff;
}
.cta-button svg #svg_canvas_arrow{
    fill:#ffffff;
}


/*  ------------------------  ////  MEDIA QUERY  \\\\  ------------------------   */

/* ----- Mobiles (Viewport below 768px) ----- */
@media only screen and (max-width: 768px) {
    .cta-button{
        width: 220px;
        height: 40px;
        font-size: 12px;
    }

} 

/* ----- Tablet Portrait & Mobile (Viewport below 989px) ----- */
@media only screen and (max-width : 989px) {
    .cta-button{
        margin: 40px auto 0;
    }
} 

/* ----- Tablet Portrait (Viewport between 769px and 989px) ----- */
@media only screen and (min-width: 769px) and (max-width : 989px) {
    .cta-button{
        margin: 40px auto 0;
    }

} 

/* ----- Tablet landscape (Viewport between 990px and 1199px) ----- */
@media only screen and (min-width: 990px) and (max-width : 1199px) {
} 

/* ----- Desktop (Viewport above 1200px) ----- */
@media only screen and (min-width: 1200px) {
} 