.component-canvas{
}
.component-canvas-image{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
.component-canvas-image img{
    max-width: 100%;
    border-bottom: 1px solid red;
}
.component-canvas-image-txtReview{
    position: absolute;
    bottom: 15px;
    right: 60px;
}
.component-canvas-image-txtReview p{
    color: #333333 100%;
    font-face: OpenSans;
    font-size: 20px;
    margin: 0;
}
.component-canvas-image-txtReview p span{
    font-face: OpenSans-Bold;
}

.component-canvas-text{
    margin: 30px 0 80px;
}
.component-canvas-text p{
    max-width: 445px;
}
.cta-button{
    width: 250px;
    height: 50px;
    margin: 20px auto;
    color:#ffffff;
    font-face: opensSans-Bold;
    font-size: 14px;
    background: #AD0C33 100%;
    border-radius: 5px;
    box-shadow: 0px 1.7px 3.3px;
    text-align: left;
}
.cta-button:hover{
    background: #840A27 100%;
    color:#ffffff;
}


/* Mobiles (Viewport below 768px) */
@media only screen and (max-width: 768px) {
    .component-canvas-image-txtReview{
        display: none;
    }
} 

/* Tablet Portrait (Viewport between 769px and 989px) */
@media only screen and (min-width: 769px) and (max-width : 989px) {
    .component-canvas-image-txtReview{
        bottom: 15px;
        right: 25px;
    }
} 

/* Tablet landscape (Viewport between 990px and 1199px) */
@media only screen and (min-width: 990px) and (max-width : 1199px) {
    .component-canvas-image-txtReview{
        bottom: 14px;
        right: 20px;
    }
} 

/* Desktop (Viewport above 1200px) */
/* @media only screen and (min-width: 1200px) {
}  */
