.component-canvas{
}
.component-canvas-image{
    position: relative;
}
.component-canvas-image img{
    max-width: 100%;
}
.component-canvas-txtReview{
    position: absolute;
    bottom: 15px;
    right: 60px;
}
.component-canvas-txtReview p{
    color: #333333 100%;
    font-face: OpenSans;
    font-size: 20px;
    margin: 0;
}
.component-canvas-txtReview p span{
    font-face: OpenSans-Bold;
}

/* Mobiles (Viewport below 768px) */
@media only screen and (max-width: 768px) {

} 

/* Tablet Portrait (Viewport between 769px and 989px) */
@media only screen and (min-width: 769px) and (max-width : 989px) {

} 

/* Tablet landscape (Viewport between 990px and 1199px) */
@media only screen and (min-width: 990px) and (max-width : 1199px) {

} 

/* Desktop (Viewport above 1200px) */
/* @media only screen and (min-width: 1200px) {
}  */
