.component-header{
    max-height: 80px;
}
.component-header > .component-header-logo{
    margin: 9px 60px;
}
.component-header > .component-header-logo img{
    height: 62px;
}

/* Mobiles (Viewport below 768px) */
@media only screen and (max-width: 768px) {
    .component-header > .component-header-logo{
        margin: 6px 20px;
    }
    .component-header > .component-header-logo img{
        height: 48px;
    }
} 

/* Tablet Portrait (Viewport between 769px and 989px) */
@media only screen and (min-width: 769px) and (max-width : 989px) {
    .component-header > .component-header-logo{
        margin: 6px 24px;
    }
    .component-header > .component-header-logo img{
        height: 48px;
    }
} 

/* Tablet landscape (Viewport between 990px and 1199px) */
@media only screen and (min-width: 990px) and (max-width : 1199px) {
    .component-header > .component-header-logo{
        margin: 9px 10px;
    }
} 

